:root {
  --theme-color: #ed626c;
  --bg-color: #121212;
  --fg-color: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 36;
}

html,
body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: var(--fg-color);
  text-decoration: underline;
  cursor: pointer;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  background-color: #101010;
  height: 100vh;
}

aside a {
  display: block;
  margin-bottom: 1rem;
}

aside hr {
  border: 1px solid #ffffff55;
}

pre {
  background: black;
  padding: 1rem;
}

pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

:not(aside) > hr {
  margin-bottom: 4rem;
  border: 1px solid #ef626c;
}

.splash {
  width: 100vw;
  height: 100vh;
}

.splash span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  white-space: pre;
  letter-spacing: -3px;
}

.main {
  width: 70%;
  margin: 3rem auto;
}

.pad-item {
  margin-bottom: 2rem;
}

.untitled {
  color: grey;
}

.pad-item {
  margin-bottom: 5rem;
}

.empty-screen > * {
  z-index: 2;
}

.empty-screen {
  height: calc(80vh - 5rem);
  padding: 0;
  line-height: 18px;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.logo {
  white-space: pre;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--theme-color);
}

.menu-item:hover {
  color: var(--theme-color);
}

[contenteditable]:focus {
  filter: brightness(1.2);
  outline: none;
}

::selection {
  background: #fff4;
  color: var(--fg-color);
}

.danger {
  color: #ff0033;
}

.logo:hover {
  background: radial-gradient(
    circle at 100%,
    #ffc2c7,
    var(--theme-color),
    var(--theme-color),
    var(--theme-color),
    #ffc2c7
  );
  font-weight: 600;
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedTextGradient 1.5s linear infinite;
}

@keyframes animatedTextGradient {
  to {
    background-position: 200% center;
  }
}

.enter {
  animation: fade-in 0.5s;
}

.menu-item.enter {
  animation: fade-grow-in 0.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-grow-in {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  100% {
    max-height: 100px;
    opacity: 1;
  }
}

.exit {
  animation: fade-out 0.5s;
}

.menu-item.exit {
  animation: fade-grow-out 0.5s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-grow-out {
  from {
    opacity: 1;
    max-height: 100px;
  }
  to {
    opacity: 0;
    max-height: 0px;
  }
}

.duplicating {
  transition: 0.5s;
  opacity: 0.5;
}

/* TODO: Animate */
.terminal-output {
  display: block;
  color: var(--fg-color);
  border: 2px solid #ffffff55;
  border-radius: 3px;
  padding: 0.2rem;
  font-size: 14px;
  margin: 5px 0;
  word-break: break-all;

  display: flex;
  align-items: center;
}

.terminal-output.warn {
  border-color: #d5b60a;
}

.terminal-output.error {
  border-color: #ff0033;
}

.terminal-output.info {
  border-color: #8cb4ff;
}

.terminal-output.debug {
  border-color: #e0ffff;
}

.terminal-output .type {
  margin: 0 1rem;
  font-size: 16px;
}

.type.number {
  color: #33b277;
}

.type.string {
  color: #dd6446;
}

.type.object {
  color: #e2772f;
}

.type.timer {
  color: #ace894;
}

.type.trace {
  color: #db2763;
}

table.terminal-output,
.terminal-output th,
.terminal-output td {
  border: 1px solid #aaa;
  border-collapse: collapse;
}

table.terminal-output td {
  padding: 0.5rem;
}

table.terminal-output tbody {
  display: table;
  width: 100%;
}

table.terminal-output {
  padding: 0;
}

button {
  border: none;
  font-family: "Space Mono", sans-serif;
  margin: 0 0 0.3rem 0;
  background: none;
  color: #ccc;
  cursor: pointer;
}

button.run {
  color: #b0db43;
}

button:not(.run):hover {
  color: white;
}

button.run:hover {
  filter: brightness(1.3);
}

.block {
  display: flex;
  flex-direction: column;
}

.block .buttons {
  align-self: flex-end;
}

button .material-symbols-outlined {
  vertical-align: middle;
}

button:not(.run) {
  opacity: 0;
}

.block:hover button {
  display: initial;
  opacity: 1;
}

.block {
  margin-bottom: 2rem;
}
.para:empty::before {
  content: attr(placeholder);
  color: #555;
}

.para:empty:focus::before {
  content: "";
}
